# Node.js зависимости
node_modules/

# Локальные переменные окружения
.env

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Конфигурация IDE/редакторов
.vscode/
.idea/
.DS_Store

# Кэш Vercel для локального деплоя
.vercel/
